# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/
env/
ENV/

# VS Code temp files
tempCodeRunnerFile.python
tempCodeRunnerFile.*

# Environment variables
.env
.env.*

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
